.Header{
    width:100%;
    height:70px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    background-color: #00C7C7;
}
.Header h1{
    font-size: 3rem;
    font-weight: 600;
    filter: brightness(1.2);

}