.container{
    width: 100vw;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background-color: #00C7C7;
    /*background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);*/
    

}
