.container{
    width:100vw;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.container .gameScreenEndedDraw{
    width:400px;
    height:450px;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    border:3px solid var(--gray-line);
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
}
.container .gameScreenEndedDraw .divCloseButton{
    position: relative;
    height:70px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color:var(--gray-line);  
}
.container .gameScreenEndedDraw h1{
    width:100%;
    height:50px;
    font-size: 35px;
    line-height: 20px;
    font-weight: 600;
    color: var(--white);
    text-align: center;
    filter:brightness(1.1);
}
.container .gameScreenEndedDraw .drawImage{
    width:150px;
    height:200px;
}
.container .optionsRestartExitButtons{
    display: flex;
    flex-direction:row;
    width:400px;
    align-items:center;
    justify-content:space-between;
}